<h1>Job Application list</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Content</th>
    <th>Job</th>
  </tr>
  <tr>
    <% @favorites.each do |favorite| %>
    <td><%= favorite.job.user.name %></td>
    <td><%= favorite.job.description %></td>
  </tr>
<% end %>
</table>

  <%= link_to 'Back', jobs_path %>
  <h1>Job Application list</h1>
